* {
     margin: 0;
     padding: 0;
     font-family: system-ui;
}

.success {
     position: absolute;
     padding: 1%;
     top: 1%;
     left: 50%;
     transform: translateX(-50%);
     width: 30%;
     height: 30px;
     border-radius: 8px;
     color: white;
     background-color: green;
     font-size: 20px;
     text-align: center;
     line-height: 30px;
}

.posts-section {
     position: relative;
     width: 80%;
     margin-left: 10%;
     margin-top: 5%;
}

.posts-section .create-post-btn {
     position: absolute;
     top: 0;
     right: 0;
     width: 15%;
     height: 40px;
     border-radius: 8px;
     background-color: lightgreen;
     color: white;
     font-size: 20px;
     border: none;
     cursor: pointer;
}

.posts-section .filter-container {
     display: flex;
     justify-content: space-between;
     align-items: center;
     width: 30%;
}

.posts-section .filter-container a {
     text-decoration: none;
     width: 40%;
     height: 40px;
     border-radius: 8px;
     background: none;
     color: blue;
     border: 1px solid blue;
     text-align: center;
     line-height: 40px;
     transition: 0.5s;
}

.posts-section .filter-container a:hover {
     background-color: blue;
     color: white;
     border: none;
}

.posts-section .post-container {
     position: relative;
     width: 80%;
     margin-left: 10%;
}

.posts-section .post-container .edit-btn {
     position: absolute;
     right: 0;
     width: 50px;
     height: 50px;
     cursor: pointer;
}

.posts-section .post-container .user-container {
     width: 100%;
     height: 100px;
     display: flex;
     align-items: center;
     border-bottom: 1px solid black;
}

.posts-section .post-container .user-container a {
     width: 50px;
     height: 50px;
     margin: 1% 2%;
}

.posts-section .post-container .user-container a img {
     width: 50px;
     height: 50px;
     border-radius: 50%;
     border: 1px solid gray;
}

.posts-section .post-container .user-container .username {
     font-size: 20px;
     margin-left: 5%;
     font-weight: 600;
}

.posts-section .post-container .contents-container .text {
     font-size: 18px;
     font-style: italic;
     width: 90%;
     margin-left: 5%;
     margin-top: 1%;
}

.posts-section .post-container .contents-container img {
     width: 30%;
     height: fit-content;
     margin-left: 35%;
}

.posts-section .post-container .comment-btns{
     height: 50px;
}

.posts-section .post-container .comment-btns .comment-btn{
     width: 50px;
     height: 50px;
     cursor: pointer;
}

.background {
     display: none;
     position: fixed;
     top: 0;
     width: 100%;
     height: 100%;
     background-color: rgba(128, 128, 128, 0.582);
     z-index: 1000;
}

.create-post-section {
     display: none;
     position: fixed;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     width: 50%;
     height: 90%;
     background-color: black;
     border-radius: 8px;
     overflow-y: scroll;
     z-index: 2000;
}

.create-post-section::-webkit-scrollbar {
     display: none;
}

.create-post-section .close-btn {
     width: 60px;
     height: 60px;
     position: absolute;
     right: 2%;
     top: 2%;
     cursor: pointer;
}

.create-post-section form {
     margin-top: 15%;
     width: 90%;
     margin-left: 5%;
}

.create-post-section form textarea {
     width: 100%;
     height: 100px;
     background: none;
     outline: none;
     border: 1px solid white;
     border-radius: 8px 0 8px 0;
     font-size: 18px;
     color: white;
}

.create-post-section form .image-container {
     position: relative;
     width: 100%;
     height: 250px;
     margin-top: 1%;
     border: 1px solid white;
}

.create-post-section form .image-container img {
     width: 100%;
     height: 100%;
}

.create-post-section form .image-container input {
     position: absolute;
     left: 0;
     top: 0;
     width: 100%;
     height: 100%;
     opacity: 0;
}

.create-post-section form .buttons-container {
     display: flex;
     justify-content: space-between;
     width: 80%;
     margin-top: 2%;
}

.create-post-section form .buttons-container button, .create-post-section form button {
     width: 60%;
     height: 50px;
     margin-left: 25%;
     margin-top: 3%;
     cursor: pointer;
     background-color: white;
     font-size: 20px;
     border: none;
     border-radius: 8px;
     transition: 0.5s;
}

.create-post-section form .buttons-container a {
     width: 60%;
     height: 50px;
     margin-left: 25%;
     margin-top: 3%;
     cursor: pointer;
     background-color: red;
     color: white;
     line-height: 50px;
     text-align: center;
     font-size: 20px;
     border: none;
     border-radius: 8px;
     transition: 0.5s;
     text-decoration: none;
}

.create-post-section form .buttons-container button:hover {
     background: none;
     color: white;
     border: 1px solid white;
}

.create-post-section form .buttons-container a:hover {
     background: none;
     color: red;
     border: 1px solid red;
}

.posts-section .comments-container{
     display: none;
     width: 100%;
     height: 100%;
     background-color: rgba(128, 128, 128, 0.356);
     position: fixed;
     top: 0;
     left: 0;
     z-index: 1000;
}

.posts-section .comments-container .comments-box{
     width: 40%;
     height: 500px;
     border-radius: 8px;
     background-color: white;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     z-index: 1000;
}

.posts-section .comments-container .comments-box .close-btn{
     width: 50px;
     height: 50px;
     position: absolute;
     top: 1%;
     right: 1%;
     cursor: pointer;
}

.posts-section .comments-container .comments-box .comment{
     width: 95%;
     height: 300px;
     overflow-y: scroll;
     margin-top: 1%;
     margin-left: 2.5%;
     /* display: flex;
     flex-direction: column-reverse; */
}

.posts-section .comments-container .comments-box .comment .box{
     position: relative;
     margin-top: 2%;
}

.posts-section .comments-container .comments-box .comment:nth-child(2){
     margin-top: 10%;
}

.posts-section .comments-container .comments-box .comment .user-info{
     display: flex;
     align-items: center;
}

.posts-section .comments-container .comments-box .comment .user-info .user-image{
     width: 50px;
     height: 50px;
     border-radius: 50%;
     border: 1px solid gray;
}

.posts-section .comments-container .comments-box .comment .user-info span{
     font-size: 20px;
     font-weight: 800;
     margin-left: 2%;
}

.posts-section .comments-container .comments-box .comment::-webkit-scrollbar{
     display: none;
}

.posts-section .comments-container .comments-box form{
     width: 95%;
     margin-left: 2.5%;
     margin-top: 10%;
}

.posts-section .comments-container .comments-box form input{
     width: 80%;
     height: 50px;
     border-radius: 8px;
     border: 1px solid gainsboro;
     font-size: 20px;
     text-indent: 2%;
     outline: none;
     float: left;
}

.posts-section .comments-container .comments-box form button{
     background: none;
     border: none;
     width: 15%;
     height: 50px;
     display: flex;
     justify-content: center;
     align-items: center;
     float: right;
     cursor: pointer;
}

.posts-section .comments-container .comments-box form button img{
     width: 30px;
     height: 30px;
}

.posts-section .comments-container .comments-box .comment .delete-btn{
     float: right;
     background: red;
     border-radius: 8px;
     border: none;
     color: white;
     padding: 3px 10px;
     position: absolute;
     bottom: 5%;
     right: 1%;
     text-decoration: none;
     cursor: pointer;
}

@media only screen and (width <540px) {
     .posts-section {
          width: 90%;
          margin-left: 5%;
     }

     .posts-section .create-post-btn {
          width: 25%;
          font-size: 15px;
     }

     .posts-section .filter-container {
          width: 60%;
     }

     .posts-section .filter-container a {
          width: 45%;
     }

     .create-post-section {
          width: 90%;
          height: 70%;
     }

     .create-post-section .close-btn {
          width: 40px;
          height: 40px;
     }

     .posts-section .post-container .edit-btn {
          width: 40px;
          height: 40px;
     }

     .posts-section .post-container .user-container a img {
          width: 45px;
          height: 45px;
     }

     .posts-section .post-container .user-container .username {
          font-size: 18px;
     }

     .create-post-section form .buttons-container {
          width: 90%;
          margin-left: 5%;
     }

     .create-post-section form .buttons-container button {
          width: 100%;
          height: 50px;
          margin-left: 0;
     }

     .create-post-section form .buttons-container a {
          width: 100%;
          height: 50px;
          margin-left: 5%;
     }

     .error, .success {
          width: 70%;
          font-size: 15px;
     }

     .posts-section .post-container .comment-btns .comment-btn{
          width: 40px;
          height: 40px;
     }

     .posts-section .comments-container .comments-box{
          width: 95%;
     }

     .posts-section .comments-container .comments-box form{
          margin-top: 20%;
     }
}