.question-container{
     width: 90%;
     height: 150px;
     margin: 3% 5%;
     float: left;
     box-shadow: 1px 1px 9px gray;
     cursor: pointer;
     text-decoration: none;
     color: black;
     transition: 0.5s ease;
}

.question-container:hover{
     background-color: gainsboro;
}

.question-container img{
     width: 80px;
     height: 80px;
     border-radius: 50%;
     border: 1px solid gray;
     margin-right: 5%;
     margin-top: 35px;
     margin-left: 2%;
     float: left;
}

.question-container .information{
     margin-top: 35px;
     height: 80px;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
}

.question-container .information .title{
     font-weight: 800;
}

.question-container .information .title span{
     font-weight: 500;
}

.add-btn{
     width: 50px;
     height: 50px;
     background-color: pink;
     color: white;
     font-weight: 800;
     border-radius: 50%;
     position: fixed;
     bottom: 3%;
     right: 3%;
     border: none;
     font-size: 20px;
     cursor: pointer;
     outline: none;
}

.success {
     position: absolute;
     padding: 1%;
     top: 1%;
     left: 50%;
     transform: translateX(-50%);
     width: 30%;
     height: 30px;
     border-radius: 8px;
     color: white;
     background-color: green;
     font-size: 20px;
     text-align: center;
     line-height: 30px;
}

.add-form{
     display: none;
     width: 100%;
     height: 100%;
     background-color: rgba(128, 128, 128, 0.336);
     position: fixed;
     top: 0;
     left: 0;
}

.add-form .container img{
     width: 50px;
     height: 50px;
     cursor: pointer;
     position: absolute;
     right: 1%;
}

.add-form .container{
     width: 30%;
     height: 300px;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     background-color: white;
     border-radius: 8px;
}

.add-form .container input{
     margin-top: 15%;
     width: 90%;
     height: 50px;
     text-indent: 2%;
     margin-left: 5%;
     border: 1px solid black;
     border-radius: 8px;
     outline: none;
     font-size: 20px;
}

.add-form .container button{
     width: 50%;
     height: 40px;
     background-color: gainsboro;
     color: black;
     font-size: 20px;
     border: none;
     border-radius: 8px;
     margin-left: 25%;
     margin-top: 20%;
     cursor: pointer;
}

@media only screen and (width <540px) {
     .question-container{
          width: 90%;
          height: 150px;
          margin: 3% 5%;
          float: left;
          box-shadow: 1px 1px 9px gray;
          cursor: pointer;
          text-decoration: none;
          color: black;
          transition: 0.5s ease;
     }

     .add-form .container{
          width: 80%;
          height: 300px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background-color: white;
          border-radius: 8px;
     }
}