.report-container{
     width: 40%;
     height: 150px;
     margin: 3% 5%;
     float: left;
     box-shadow: 1px 1px 9px gray;
     cursor: pointer;
     text-decoration: none;
     color: black;
     transition: 0.5s ease;
}

.report-container:hover{
     background-color: gainsboro;
}

.report-container img{
     width: 80px;
     height: 80px;
     border-radius: 50%;
     border: 1px solid gray;
     margin-right: 5%;
     margin-top: 35px;
     margin-left: 2%;
     float: left;
}

.report-container .information{
     margin-top: 15px;
     height: 120px;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
}

.report-container .information .title{
     font-weight: 800;
}

.report-container .information .title span{
     font-weight: 500;
}

@media only screen and (width <540px) {
     .report-container{
          width: 90%;
          height: 150px;
          margin: 3% 5%;
          float: left;
          box-shadow: 1px 1px 9px gray;
          cursor: pointer;
          text-decoration: none;
          color: black;
          transition: 0.5s ease;
     }
}